[build-system]
requires = ["uv_build"]
build-backend = "uv_build"

[project]
name = "TokEye"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "gradio",
    "matplotlib",
    "numpy",
    "opencv-python",
    "pywavelets",
    "scipy",
    "torch",
    "torchcodec",
    "torchvision",
    "torchinfo",
    "scikit-image",
    "pydantic",
    "lightning",
    "omegaconf",
    "scikit-learn",
    "tables",
]

[project.optional-dependencies]
dev = [
    # Testing & Linting
    "mypy",
    "pytest",
    "pytest-cov",
    "pytest-xdist",
    "ruff",

    "ipykernel",
    "ipywidgets",
]
eval = [
    "wavio",
    "h5py",
    "faith",
]

[tool.coverage.run]
source = ["src/TokEye"]
omit = [
    "*/tests/*",
    "*/test_*.py",
    "*/__pycache__/*",
    "*/autoprocess/*",
]

[tool.ruff]
line-length = 88

[tool.ruff.lint]
select = [
    "E",
    "W",
    "F",
    "I",
    "N",
    "UP",
    "B",
    "C4",
    "ARG",
    "SIM",
]
ignore = [
    "E501",
    "B008",
    ]

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["F401"]
"tests/*" = ["ARG"]

[tool.uv]
package = true

[tool.uv.build-backend]
module-name = "TokEye"
module-root = "src"

[tool.uv.sources]
faith = { path = "../FusionAIHub" }
