[build-system]
requires = ["uv_build"]
build-backend = "uv_build"

[project]
name = "tokeye"
version = "0.9.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "gradio",

    "numpy",
    "scipy",

    "matplotlib",

    "torch",
    "torchcodec",
    "torchvision",
    "torchinfo",

    "omegaconf",
    "tables",
    "pydantic",
]

[pytest]
minversion = "9.0"
addopts = ["-ra", "-q"]
testpaths = [
    "tests",
]

[tool.uv]
package = true

[tool.uv.build-backend]
module-name = "tokeye"
module-root = "src"

[dependency-groups]
dev = [
    "ty",
    "pytest",
    "pytest-cov",
    "pytest-xdist",
    "ruff",
    "pre-commit",
]
train = [
    "ipykernel",
    "ipywidgets",

    "h5py",
    "wavio",

    "lightning",

    "scikit-learn",
    "scikit-image",

    "fusionaihub",
]