[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "tokeye"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "gradio",
    "matplotlib",
    "numpy",
    "opencv-python",
    "pywavelets",
    "scipy",
    "torch",
    "torchcodec",
    "torchvision",
    "torchinfo",
    "scikit-image",
    "pydantic",
    "lightning",
    "omegaconf",
]

[project.optional-dependencies]
dev = [
    # Testing & Linting
    "mypy",
    "pytest",
    "pytest-cov",
    "pytest-xdist",
    "ruff",

    # Notebook/Interactive tools
    "ipykernel",
    "ipywidgets",
]

[tool.hatch.build.targets.wheel]
packages = ["src/TokEye"]

[tool.pytest.ini_options]
testpaths = ["tests"]
python_files = "test_*.py"
python_classes = "Test*"
python_functions = "test_*"

[tool.coverage.run]
source = ["src/TokEye"]
omit = [
    "*/tests/*",
    "*/test_*.py",
    "*/__pycache__/*",
    "*/autoprocess/*",
]

[tool.ruff]
line-length = 88

[tool.ruff.lint]
select = [
    "E",
    "W",
    "F",
    "I",
    "N",
    "UP",
    "B",
    "C4",
    "ARG",
    "SIM",
]
ignore = [
    "E501",
    "B008",
    ]

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["F401"]
"tests/*" = ["ARG"]

[tool.uv]
package = true

[tool.uv.sources]
torch = [
  { index = "pytorch-cu128", marker = "sys_platform == 'win32'" },
]
torchvision = [
  { index = "pytorch-cu128", marker = "sys_platform == 'win32'" },
]

[[tool.uv.index]]
name = "pytorch-cu128"
url = "https://download.pytorch.org/whl/cu128"
explicit = true
